@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
body {
  
  padding: 0;
  font-family: "Amatic SC", sans-serif;
  background-image: url("bg.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  background-size:1700px 100%;
  
}
